<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.food.control.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/Principal</url-pattern>
        <url-pattern>/Usuarios</url-pattern>
        <url-pattern>/Menus</url-pattern>
        <url-pattern>/Permisos</url-pattern>
        <url-pattern>/Roles</url-pattern>
        <url-pattern>/Ordenes</url-pattern>
        <url-pattern>/Comidas</url-pattern>
        <url-pattern>/Reportes</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Comidas</servlet-name>
        <servlet-class>com.food.control.Comidas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ordenes</servlet-name>
        <servlet-class>com.food.control.Ordenes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Comidas</servlet-name>
        <url-pattern>/Comidas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ordenes</servlet-name>
        <url-pattern>/Ordenes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
</web-app>
